.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.rowik {
    background-color: var(--two);
    width: 65%;
    height: 100vh;
    box-shadow: 0px 0px 20px var(--shadow);
}

.colik {
    margin: 85px;
    padding: 0px 100px;
}

.cardik {
    background-color: var(--form);
    border-radius: 25px;
    padding: 30px;
}

.loginik {
    font-size: 30px;
    font-family: monospace;
    font-weight: bold;
}

.butonik {
    background-color: var(--four);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 10px 3px;
}

.butonik:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 10px 20px var(--five);
}