.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: #5BA199;
}

.rowik {
    background-color: #DDBEAA;
    width: 50%;
    height: 100vh;
}

.colik {
    margin: 85px;
    margin-top: 10%;
}

.tablicek {
    border-collapse: collapse;
}

.tablik {
    background-color: #E5E3E4;
    padding: 25px 0px 25px 70px;
    border-radius: 25px;
}

.studentik {
    margin-left: 15px;
    font-style: italic;
}

.topic {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.butonicek {
    background-color: #5BA199;
    /* Green */
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 15px 0px 0px 33%;
}