.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: white;
}

.rowik {
    background-color: var(--two);
    width: 65%;
    height: 100vh;
    box-shadow: 0px 0px 20px var(--shadow);
}

.colik {
    margin: 85px;
    margin-top: 6.5%;
    padding: 0px 100px;
}

.tablicek {
    border-collapse: collapse;
}

.tablik {
    background-color: var(--form);
    padding: 25px 0px 25px 70px;
    border-radius: 25px;
}

.studentik {
    margin-left: 15px;
    font-style: italic;
    color: white;
}

.topic {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}

.butonicek {
    background-color: var(--four);
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin: 15px 0px 0px 33%;
}

.butonicek:hover {
    transform: translateY(-1.5px);
    box-shadow: 0 10px 20px var(--five);
}