/* You can add global styles to this file, and also import other style files */
:root {
    --one: #66B9DC;
    --two: #3EA5D1;
    --three: #1A94C9;
    --four: #0581B6;
    --five: #045C82;
    --shadow: #888888;
    --form: #E5E3E4;
}
